APP_ENV=dev
APP_SECRET=change_me_in_production_32chars_min

RH_DATABASE_URL=postgresql://equencia:equencia_secret@postgres:5432/equencia?serverVersion=16&charset=utf8
REDIS_URL=redis://:redis_secret@redis:6379
RH_REDIS_STREAM=rh_messages

JWT_PUBLIC_KEY=config/jwt/public.pem
JWT_TOKEN_TTL=900

MERCURE_URL=http://mercure/.well-known/mercure
MERCURE_PUBLIC_URL=http://localhost/.well-known/mercure
MERCURE_JWT_SECRET=mercure_secret_change_me

CORS_ALLOW_ORIGIN='^https?://(localhost|127\.0\.0\.1)(:[0-9]+)?$'

MINIO_ENDPOINT=http://minio:9000
MINIO_ACCESS_KEY=equencia
MINIO_SECRET_KEY=equencia_minio_secret
MINIO_BUCKET_PAYSLIPS=payslips

GOTENBERG_URL=http://gotenberg:3000
